{% extends 'base.html' %}
{% block title %}
My education
{% endblock %}
{% block body %}
<p> I graduated from the <a href="http://en.rusoil.net/" target="_blank" rel="noopener noreferrer">Oil&Gas University</a>,
    Faculty of Pipeline Engineering in 2015 with a master degree.</p>
<p> Now I'm learning Python on <a href="https://netology.ru/" target="_blank" rel="noopener noreferrer">Netology</a> and <a href="https://gb.ru/" target="_blank" rel="noopener noreferrer">GeekBrains</a> . Check my profile on <a href="https://github.com/Timur-Kotelnikov", target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
{% endblock %}