{% extends 'base.html' %}
{% block title %}
My job experience
{% endblock %}
{% block body %}
<p><h4><i>July 2012 - August 2012</i></h4></p>
<p><h5>Mentor in <a href="https://bashneftservice.ru/i/friendship/" target="_blank", rel="noopener noreferrer">kids camp</a></h5></p>
<p>- Supervising kids throughout the session</p>
<p>- Helping with projects and camp <a href="/static/kids_camp.jpg" target="_blank", rel="noopener noreferrer"> activities</p>
<p><h4><i>December 2015 - June 2019</i></h4></p>
<p><h5>Master of maintenance department in <a href="https://en.transneft.ru/" target="_blank" rel="noopener noreferrer">
    Transneft PJSC</a></h5></p>
<p>- Equipment maintenance (valves, measurement equipment, filtration equipment, etc) of
    <a href="/static/oil_station.jpg" target="_blank", rel="noopener noreferrer">pumping station</a></p>
<p>- Organization and safe carrying out of scheduled and repair work on oil-product (gasoline, etc.) pipelines</p>
<p>- Management of team of 18 workers</p>
<p><h4><i>July 2019 - May 2022</i></h4></p>
<p><h5>Oil&Gas Expert in <a href="https://www.hydac.com/en/" target="_blank" rel="noopener noreferrer">Hydac GmbH</a>
</h5></p>
<p>- Support and development of sales of filtration and hydraulic equipment for the Oil&Gas industry</p>
<p>- Making of technical offer and commercial quotation in accordance with the customer's specification (risk assessment,
    preparation of the optimal technical solution and calculation of the cost of the project)</p>
<p>- Pilot testing of equipment under working conditions</p>
<p>- Tracking tender sites, formatting documents for participation in tender procedures</p>
{% endblock %}